*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./images/hotel1.jpg);
    background-position: center;
    background-size: auto;
}
nav {
  /* background of navigation bar */
  background-color: black;
  padding: 20px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}

.menu li {
  /* lits items */
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  /* hide and show */
  font-size: 20px;
}
.item a:hover {
  color: orange;
}
.button.secondary {
  /* signup */
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar */

.logo {
  color: white;
}
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: orange;
    border: 1px #0b6294 solid;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background: #000000;
    border-color: blue;
  }
  .button.secondary a:hover {
    color: orange;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

#form{
    background-color: black;
    height:400px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.7;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}
#content #input-group{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.fa{
    display:inline-block;
    color:red;
    border-right:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
#submit-btn{
    margin-top: 20px;
    margin-left: 350px;
    background: orange;
    color:  white;
    width:150px;
    border:3px solid red;
    outline:none;
    padding:5px;
    font-size: 20px;
}
#submit-btn :hover{
    background: var(--dark-highlight-color);
}